@charset "UTF-8";

.clearfix::after{content: ''; display: block; clear: both;}

.charm_container {background: black;}
.charm_container h2{color: white;}
.charm_container h3{color: white;}
.charm_pic .small_ch {background-image: url(../img/scharm_title.png); width: 200px; height: 100px; background-size: contain; background-repeat: no-repeat;}
.charm_pic .large_ch {background-image: url(../img/lcharm_title.gif); width: 200px; height: 100px; background-size: contain; background-repeat: no-repeat;}
.charm_pic .grand_ch {background-image: url(../img/gcharm_title.gif); width: 200px; height: 100px; background-size: contain; background-repeat: no-repeat;}

.charm_ex .charm_pic > p {float: left;}
.charm_ex .charm_text {clear: both; color: white;}

.charm_ex .list_text {color: gray; padding-top: 20px;}
.pre_suf {border-top: 1px solid white; margin-top: 40px; padding-top: 20px;}
.pre_suf > a {float: left;}
.pre_suf > a:last-child {margin-left: 30px;}

.prefix_list {color: white; padding-top: 20px;}



