<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="chaos.realtree.mapper.ItemMapper">
	<select id="getList" resultType="chaos.realtree.model.Item"> 
		select * from item_tbl;
	</select>
	
</mapper>